<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title><%=content%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="icon" type="image/png" href="favicon.ico" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="css/elephant.css">
    <script type="text/javascript" src="js/jQuery.js"></script>
  </head>
  <body>
    <%-partial(content)%>
  </body>
</html>
