<link rel="stylesheet" type="text/css" href="css/profile.css">
<div class="login">
  <div class="login-body-news">
    <h3 class="login-heading">Новости</h3>
    <hr>
    <div class="login-form">
      <div class="form-group">
        <a class="btn btn-success btn-block" href="/add_new_news">Добавить новость</a>
      </div>
      <div class="form-group" id="news"></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/news.js"></script>
