<link rel="stylesheet" type="text/css" href="css/login.css">
<div class="login">
      <div class="login-body">
        <h3 class="login-heading">Востановление пароля</h3>
        <div class="login-form">
          <form data-toggle="validator">
            <div class="form-group">
              <label for="phone">Телефон</label>
              <input id="phone" class="form-control" type="number">
            </div>
            <div class="form-group" style="display:none">
              <label for="code">Код из SMS</label>
              <input id="code" class="form-control" type="number">
            </div>
            <div class="form-group" style="display:none">
              <label for="pass">Новый пароль</label>
              <input id="pass" class="form-control" type="number">
            </div>
            <div class="form-group" style="display:none">
              <label for="usepass2rname">Повторите пароль</label>
              <input id="pass2" class="form-control" type="number">
            </div>
            <div class="form-group">
              <div class="btn btn-success btn-block" id="send_sms">Сбросить пароль</div>
              <div class="btn btn-success btn-block" style="display:none" id="check_code">Сравнить код</div>
              <div class="btn btn-success btn-block" style="display:none" id="new_pass">Сохранить новый пароль</div>
            </div>
            <div class="form-group">
              <ul class="list-inline">
                <li>
                  <small>Смс будет отправленно на введённый номер.</small>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/password.js"></script>
